.support{
  &__content{
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__right{
    &-list-item{
      display: flex;
      column-gap: 30px;
      align-items: center;
    }
    &-item{
      display: flex;
      flex-direction: column;
      row-gap: 30px;
    }
    &-info{
      @include text($popin, normal, 600, 16px, 24px, #22343D);
    }
    &-title{
      @include text($popin, normal, bold, 32px, 48px, #22343D);
      margin: 8px 0 23px;
    }
    &-subtitle{
      @include text($popin, normal, normal, 16px, 26px, #22343D);
      margin-bottom: 30px;
    }
    &-text{
      @include text($popin, normal, normal, 16px, 26px, #22343D);
    }
    &-icon{
      width: 35px;
      height: 35px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 13.8542px;
      color: white;
    }
    &-orange{
      background: #FF9900;
    }
    &-red{
      background: #F03E3D;
    }
    &-blue{
      background: #4D8DFF;
    }
  }
  &__left{
    &-img{
      width: 100%;
    }
  }
}